.github-container {
    background-color: blueviolet;
    width: 50vw;
    height: 85vh;
    margin: 20px 400px;
    border-radius: 8px;
}
.game-intro {
    margin-left: 160px;
}
.github-container {
    padding-left: 10px;
    padding-right: 10px;
}
.signin-text {
    font-size: 18px;
}
.signin-input {
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 5px 10px;
}
.password-input {
    border-radius: 2px;
    padding-left: 5px 10px;
}
.signin-btn {
    border-radius: 6px;
    margin: 15px 0 10px 0px;
    padding: 3px 58px;
}
.email-input {
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 5px 10px;
}
.username-input {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 5px 10px;
}
.register-password {
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 5px 10px;
}
.register-btn {
    padding: 3px 15px;
    border-radius: 6px;
    color: rgb(97, 97, 97);
    margin-top: 50px;
}
.start-btn {
    padding: 3px 15px;
    border-radius: 6px;
    color: rgb(97, 97, 97);
    margin-top: 50px;
}
#c-img2 {
    margin-left: 10px;
}
#c-img3 {
    margin-left: 10px;
}
#c-img4 {
    margin-left: 10px;
}
#black-girl {
    height: 30vh;
    margin-right: 20px;
}
#black-girl:hover {
    background-color: rgb(73, 2, 121);
    border-radius: 80px;
}
#black-girl:active {
    background-color:  rgb(179, 55, 158);
}
#white-girl {
    height: 29vh;
    margin-right: 15px;
}
#white-girl:hover {
    background-color: rgb(73, 2, 121);
    border-radius: 80px;
}
#white-girl:active {
    background-color: rgb(233, 139, 236);
}
#asian-boy {
    height: 29vh;
    margin-right: 20px;
}
#asian-boy:hover {
    background-color: rgb(73, 2, 121);
    border-radius: 80px;
}
#asian-boy:active {
    background-color: rgb(155, 6, 98);

}
#white-boy {
    height: 29vh;
}
#white-boy:hover {
    background-color: rgb(73, 2, 121);
    border-radius: 80px;
}
#white-boy:active {
    background-color: rgb(138, 3, 55);

}
#light {
    size: 48px;
}
#do-you {
font-size: 24px;
}
h1 {
    font-size: 36px;
}
#github:hover {
    background-color: cyan;
}
@media screen and (max-width: 1024px) {
    .github-container {
        width: 65vw;
        height: 86vh;
        margin: 20px 160px;
    }
    .header {
        font-size: 36px;
    }
    .read{
        margin-top: -25px;
        font-size: 26px;
    }
    .instructions {
        margin-top: -20px;
        font-size: 22px;
    }
    #do-you {
        font-size: 26px;
        margin-top: -18px;
    }
    .Registration-box {
        margin-top: -15px;
    }
    #github {
        padding: 5px 60px;
    }
    .sign-git {
        font-size: 14px;
    }
    #start-game {
        margin-top: 10px;
    }
    #black-girl {
        height: 20vh;
    }
    #asian-boy {
        height: 20vh;
    }
    #white-girl {
        height: 20vh;
    }
    #white-boy {
        height: 20vh;
    }
}
@media screen and (max-width: 800px) {
    .github-container {
        width: 65vw;
        height: 120vh;
        margin: 40px 110px;
    }
    #asian-boy {
        margin-right: 50px;
    }
}
@media screen and (max-width: 450px) {
        .github-container {
        width: 85vw;
        height: 124vh;
        margin: 10px 80px;
    }
    #start-game {
        margin-top: -10px;
        margin-left: 30px;
    }
    #black-girl {
        height: 23vh;
    }
    #asian-boy {
        height: 23vh;
    }
    #white-girl {
        height: 23vh;
    }
    #white-boy {
        height: 24vh;
    }
}
@media screen and (max-width: 414px){
    .github-container {
        width: 65vw;
        height: 88vh;
        margin-left: 60px;
    }
    .read {
        margin-top: -15px;
    }
    .instructions {
        margin-top: -15px;
    }
    #do-you {
        margin-top: -15px;
    }
    .Registration-box {
        margin-top: -18px;
    } 
    #black-girl {
        height: 12vh;
    }
    #asian-boy {
        height: 12vh;
    }
    #white-girl {
        height: 12vh;
    }
    #white-boy {
        height: 12vh;
    }
}
@media screen and (max-width: 375px) {
    .github-container {
        width: 75vw;
        height: 88vh;
        margin: 10px 35px;
    }
    .read {
        margin-top: -15px;
    }
    .instructions {
        margin-top: -15px;
    }
    #do-you {
        margin-top: -10px;
    }
    .Registration-box {
        margin-top: -10px;
    }
    #start-game {
        margin-left: 20px;
    }
    #black-girl {
        height: 15vh;
    }
    #asian-boy {
        height: 15vh;
    }
    #white-girl {
        height: 15vh;
    }
    #white-boy {
        height: 15vh;
    }
}