html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.603)), url(./images/pexels-photo-270632.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}