.quiz-container {
    background-color: rgb(211, 43, 226);
    width: 50vw;
    height: 80vh;
    margin: 60px 445px;
    border-radius: 8px;
}
.option-btn:hover {
    background-color: rgb(95, 205, 248);
    color: white;
}
.question-title {
    font-size: 18px;
}
.quiz-inner-container {
    margin-left: 10px;
}
.option-btn {
    margin-top: 15px;
    border-radius: 10px;
    font-size: 16px;
}
.option {
    visibility: hidden;
}
.button-container {
    margin-top: 20px;
}
.options-container {
    padding-left: 5px;
}
h3 {
    padding-left: 5px;
}
.nav-btn {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    
}
.nav-btn:hover {
    color: rgb(240, 240, 240);
}
#next-button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
#previous-button {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
#quit-button {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
#next-button:hover {
    background-color: rgb(8, 189, 38);
}
#previous-button:hover {
    background-color: rgb(255, 208, 0);
}
#quit-button:hover {
    background-color: rgb(228, 3, 3);
}
button {
    cursor: pointer;
    color: rgb(97, 97, 97);
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#light-bulb {
 cursor: pointer;   
}
.timer-container {
    padding-left: 5px;
}
.lifeline-container {
    padding-left: 5px;
}
.button-container {
    padding-left: 5px;
}
#timer {
    font-size: 24px;
}
#question-que {
    font-size: 18px;
}
#character-image {
    float: right;
    padding-right: 30px;
    margin-top: -40px;
}
#bg {
    height: 44vh;
}
#ab {
    height: 44vh;
}
#wg {
    height: 42vh;
}
#wb {
    height: 44vh;
}