.main-nav {
    margin-left: 660px;
    list-style: none;
}

.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 50px;
    font-size: 18px
}
.main-nav li a:hover {
    border: 1px solid white;
}
@media screen and (max-width: 1200px) {
    .main-nav {
        margin-left: 430px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .main-nav {
        margin-left: 300px;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .main-nav {
        margin-left: 150px;
        width: 100%;
    }
}